%html
  %head
    :css
      body {
          font-family: Comic Sans MS, sans-serif;
          background-color: LightGrey;}
      h1 {
          color: DarkBlue;}
      input {
          font-size: 70%;
          color: #5a5854;
          background-color: #f2f2f2;
          border: 1px solid #bdbdbd;
          border-radius: 5px;
          padding: 5px 5px 5px 5px;
          background-repeat: no-repeat;
          background-position: 8px 9px;
          display: block;
          margin-bottom: 1px;}
      input[type=submit]{
        	-moz-box-shadow:inset 0px 1px 0px 0px #bee2f9;
        	-webkit-box-shadow:inset 0px 1px 0px 0px #bee2f9;
        	box-shadow:inset 0px 1px 0px 0px #bee2f9;
        	background-color:transparent;
        	-webkit-border-top-left-radius:5px;
        	-moz-border-radius-topleft:5px;
        	border-top-left-radius:5px;
        	-webkit-border-top-right-radius:5px;
        	-moz-border-radius-topright:5px;
        	border-top-right-radius:5px;
        	-webkit-border-bottom-right-radius:5px;
        	-moz-border-radius-bottomright:5px;
        	border-bottom-right-radius:5px;
        	-webkit-border-bottom-left-radius:5px;
        	-moz-border-radius-bottomleft:5px;
        	border-bottom-left-radius:5px;
        	text-indent:0;
        	border:1px solid #3866a3;
        	display:inline-block;
        	color:#14396a;
        	font-family:Comic Sans MS;
        	font-size:10px;
        	font-weight:bold;
        	font-style:normal;
        	text-decoration:none;
        	text-align:center;
        	text-shadow:1px 1px 0px #7cacde;
          white-space:nowrap;
        }
        %title IdeaBox
  %body
    = yield
